.rp_boundary {
  border: 4px dashed greenyellow;
  border-radius: 0.25rem;
  display: flex;

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-block-end: 0.5rem;
    font-weight: normal;
    text-align: center;
  }

  menu {
    list-style: none;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}